html {
    font-size: 62.5%;
    max-width: 100vw;
    background-color: #b8c8d6;
}

body {

    
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;

}

.main-container {
    
    background-color: #b8c8d6;
    max-width: 100vw;
    margin: 0 auto;
}

.container {

    width: 100%;
    display: block;
    float: left;
    margin: 0 auto;
    
    height: auto;
    margin-bottom: 20px;
}

header {
    background-color: #b8c8d6;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid white;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
    max-width: 90%;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #b8c8d6;
    width: 100%;
}

#tenho-interesse form,
.cognito.c-med .c-forms-form,
.cognito.c-med, .c-forms-form div ,.cog-form__content ,.cog-form__content {

    background-color: #b8c8d6 !important;
    
}

#tenho-interesse .cognito .c-forms-form .c-forms-form-title h2,
#tenho-interesse .cognito label[for], .cognito input[type=radio], .cognito input[type=checkbox] {
    color: #385874;
}


ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {

    
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    padding: 20px 0px;
    width: 100vw;
    overflow: hidden;
}

section nav {

    display: block;
    float: left;
    width: 30%;
}

nav li {

    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {

    background-color: #dfdfdf;
}

nav a {

    text-decoration: none;
    color: #254159;
}

nav a:hover {

    color: #385874;
}

section article {

    display: block;
    float: left;
    width: 70%;
}

footer {

    background-color: #254159;  
    display: block;
    float: left;
    padding: 20px 0;
    width: 100%;
}

footer p {

    color: #ffffff;
    font-size: 1.4rem;
}

footer small {

    font-size: 80%;
    display: block;
}

.cognito {

    height: 400px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }  

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

#banner{

    background-image: url('../imagens/banner.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    width: 100vw;
    height: 60vh;

}

.legenda-container{

    width: 40vw;
    float: right;
    margin-top: 20px;
    margin-right: 40px;

}

.legenda{

    padding: 20px;
    border-radius: 5px;
    background-color: rgba( 255, 255, 255, .6);
    margin-bottom: 5rem;
   
}

.legenda h5,
.legenda h4 {

    color: #254159;
}

.button-cta{

    display: inline;
    background-color: orangered;
    color: white;
    font-size: 2rem;
    box-shadow: 2px 2px 4px black;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    padding: 20px 5px;
    
}

#saiba-mais{

    background-color: #b8c8d6;
    
}

#saiba-mais p,
#saiba-mais img{

    width: 45%;
    display: block;
    float: left;
    padding: 20px;

}

h1{
    margin-left: 40px;
}

dl{
    
    margin-bottom: 40px ;
}

dt{
    margin-left: 40px;
    font-family: 'open Sans';
    font-weight: 400;
    font-size: 1.6rem;
}

dd{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

a{
    margin-left: 40px;
}
p {
    margin-left: 40px;
}

